<style type="text/css">

.auto-style1 {
	text-align: center;
}
.auto-style2 {
	text-align: right;
}
.auto-style3 {
	text-align: left;
	margin-bottom: 0px;
}

.auto-style4 {
	font-size: smaller;
}

.auto-style5 {
	text-align: left;
}

.auto-style6 {
	margin-left: 35px;
}

.auto-style7 {
	font-size: x-small;
}


</style>



<form method="post" data-ajax="false" accept-charset="utf-8" name="main_form" id="main_form" action="./index.cgi">
	<input type="hidden" name="saveformdata" value="1">
		<div class="form-group">

<table class="formtable" border="0" width="100%" cellpadding="10">
	<tr>
		<td valign="middle" style="height: 33px; width: 25%;" class="auto-style1">
			<h2 class="auto-style3" style="width: 255px">Sonos&reg; Konfiguration</h2>
		<td style="height: 33px" class="auto-style1">
			<img class='ico_sonos' src='/plugins/<!--$psubfolder-->/images/sonos_logo.png' border='0' width='145' height='96' align="absmiddle">
		</td>
		<td style="height: 33px; width: 201px;"></td>
		

	</tr>
	<tr>
		<td style="height: 41px; width: 25%;" valign="top">
			<label id="lzonen">Vorhandene oder hinzugef&uumlgte Sonos Player:</label>
		</td>
		<td valign="middle" style="height: 41px; width: 50%;">
		<table width="100%" cellpadding="2" cellspacing="0" border="1px" border="1" id="tblzonen">
			  <tr>
			    <th style="width: 35px">
				<img class='ico_delete' src='/plugins/<!--$psubfolder-->/images/recycle-bin.png' border='0' width='24' height='24'>
				</th>
				<th align="left" style="height: 45px; width: 196px">Raum</th>
			    <th align="left" style="height: 25px; width: 147px;">Modell</th>
   			    <th align="left" style="height: 25px; width: 98px;">T2S Vol</th>
			    <th align="left" style="height: 25px; width: 98px;">Sonos Vol</th>
			    <th align="left" style="height: 25px; width: 98px;">Max Vol</th>
			  </tr>
			  <!--$rowssonosplayer-->
			</table>
		</td>
			<td style="width: 201px; height: 41px;" valign="top">
			
			<a onClick="Scan()" id="btnplayerscan" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="#">Scan Zonen</a>

		</td>
		<td style="height: 13px; width: 24px;"></td>

	</tr>
	<tr>
		<td style="width: 25%; height: 45px;">
			<label id="ltts_instanz">Auswahl der Text-to-Speech (T2S) Instanz:</label>
		</td>
		<td style="width: 50%; height: 45px;">
			<fieldset data-role="controlgroup" data-type="horizontal">
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_voicerss" value="1001" <!--$selectedinstanz2-->>
	 			<label for="tts_voicerss">VoiceRSS</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_mac_osx" value="3001" <!--$selectedinstanz3-->>
				<label for="tts_mac_osx">OSX</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_polly" value="4001" <!--$selectedinstanz4-->>
				<label for="tts_polly">AWS Polly</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_pico" value="5001" <!--$selectedinstanz5-->>
				<label for="tts_pico">Pico2Wave</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_respvoice" value="6001" <!--$selectedinstanz6-->>
				<label for="tts_respvoice">RespVoice</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_google" value="7001" <!--$selectedinstanz7-->>
				<label for="tts_google">Google</label>

			</fieldset>
			</td>
		<td valign="middle" style="height: 45px; width: 201px;">
		<font size="-1"><a id="linkvoicerss" href="http://www.voicerss.org/login.aspx" target="_blank">Kostenlosen API Key 
		f&uumlr VoiceRSS erstellen</a></font><br>
		<br>
		<font size="-1">
		<a id="linkpolly" href="https://aws.amazon.com/de/developers/access-keys/" target="_blank">Keys 
		f&uumlr Polly erstellen</a></font>
		<span class="auto-style4">(Preismodell beachten!)</span></td>
		<td style="height: 13px; width: 24px;"></td>
	</tr>
	<tr>
		<td style="height: 48px; width: 25%">
			<label id="lapikey">API-Key (VoiceRSS,  Polly):</label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="apikey" name="apikey" type="text" class="textfield" value="<!--$apikey-->">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
		</td>
		<td style="height: 48px; width: 24px;"></td>
	</tr>
	<tr>
		<td style="width: 25%; height: 48px;">
			<label id="lseckey">Secret-Key (Polly):</label>
		</td>
		<td style="width: 50%; height: 48px;">
			<input id="seckey" name="seckey" type="text" class="textfield" value="<!--$seckey-->">
		<td style="width: 201px; height: 48px;">
		</td>
		<td style="width: 24px; height: 48px;"></td>		
	</tr>
	<tr>
			<td style="height: 60px; width: 25%;">
			<label id="llang">Auswahl der Standardsprache für T2S: </label>
		</td>
		<td width="50%" style="height: 60px">
			<table border=0 width="100%">
				<tr>
					<div data-role="collapsible">
						<td style="height: 36px; width: 350px;" class="auto-style5">
							<fieldset style="width: 286px">
								<select id="lang" name="lang" onchange="filterlang()" data-mini="true" style="align:left; width: 258px;">
									<option value="default">** Sprache wählen **</option>
								</select>
							</fieldset>
						</td>
						<div id="loginResult" style="display:none;"></div>
						<td style="height: 36px; width: 350px;" class="auto-style5">
							<fieldset style="width: 266px">
								<select id="voice" name="voice" onchange="filtervoice()" data-mini="true" style="align:left; width: 217px;">
									<option value="default">** Stimme wählen **</option>
								</select>
							</fieldset>
						</td>
					</div>
					
				</tr>
	</table>
		</td>
			<td style="height: 30px; width: 201px;">
			</td>
		</tr>
		<tr>
			<td style="width: 25%">
				<label id="lmp3store">Verweildauer der MP3 Dateien:</label>
			</td>
			<td style="width: 50%">
				<table border=0 width="100%">
			<tr>
				<td width="19%">
					<select id="mp3store" name="mp3store" data-mini="true" data-native-menu="false" width="50%">
						<option value="1" <!--$mp3store1-->>1 Tag</option>
						<option value="2" <!--$mp3store2-->>2 Tage</option>
						<option value="3" <!--$mp3store3-->>3 Tage</option>
						<option value="4" <!--$mp3store4-->>4 Tage</option>
						<option value="5" <!--$mp3store5-->>5 Tage</option>
						<option value="6" <!--$mp3store6-->>6 Tage</option>
						<option value="7" <!--$mp3store7-->>7 Tage</option>
					</select>
				</td>
			<td>
				<table border=0 width="100%">
					<tr>
						<td width="50%" class="auto-style1" style="height: 30px">
							<label id="lfile_gong">Dateiname f&uumlr Jingle MP3:</label>
						</td>
						<td style="height: 30px">
							<input id="file_gong" name="file_gong" type="text" class="textfield" value="<!--$file_gong-->">
						</td>
						<td style="height: 30px">
							.mp3
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
		<td valign="middle" style="height: 60px; width: 201px;">
		&nbsp;
		</td>
		<td style="height: 60px; width: 24px;">
		</td>
	</tr>
	<tr>
		<td style="height: 60px; width: 25%;">
			<label id="lsendlox">Daten&uumlbertragung / Auswahl Miniserver:</label>
		</td>
		<td width="50%" style="height: 60px">
			<table border=0 width="100%">
				<tr>
					<td style="width: 25%">
					<fieldset>
							<select id="sendlox" name="sendlox" data-role="flipswitch" style="width: 104px" onchange="selection()">
								<option <!--$selectedsendlox1--> value="false">Aus</option>
								<option <!--$selectedsendlox2--> value="true">An</option>
								
							</select>
							</fieldset>
							
						
					</td>
				
				<td class="auto-style1" style="width: 23px">	
					&nbsp;</td>
				<td>
					<table border=0 style="width: 91%">
						<tr>
							<td class="auto-style5" align="right" style="width: 245px">
							
							<select id="miniserver" name="miniserver" data-mini="true" data-native-menu="false" style="width: 142px">
								 <!--$msselectlist-->
							</select>
							
							</td>	
							<td class="auto-style2" align="right" style="width: 184px">
							UDP Port:</td>
						
				<td class="auto-style2" style="width: 27px">
					<input id="udpport" name="udpport" type="text" class="auto-style6" value="<!--$udpport-->" style="width: 71px">
				</td>
			</tr>
		</table>
	</td>
</tr>
	</table>
		</td>
			<td style="height: 30px; width: 201px;">
				<font size="-1">Sonos Daten per virtuellem UDP und Text Eingang am 
				Miniserver einlesen. </font>
			</td>
			<td style="height: 30px; width: 24px;">
				<font size="-1"><div id="testurl">
					</div>
				</font>
			</td>
		</tr>
		<tr>
			<td style="height: 60px; width: 25%;">
			<label id="ldebug">Debugging (Browser):</label>
		</td>
		<td width="50%" style="height: 60px">
			<table border=0 width="100%">
				<tr>
					<td width="20%">
						<fieldset>
							<select id="debugging" name="debugging" data-role="flipswitch">
								<option <!--$selecteddebug1--> value="0">Aus</option>
								<option <!--$selecteddebug2--> value="1">Ein</option>
							</select>
						</fieldset>
					</td>
					<td class="auto-style1">
 					
					</td>
					
</tr>
	</table>
		</td>
			
			<td style="height: 30px; width: 201px;">
				<font size="-1">Nur in Ausnahmef&aumlllen zur Fehlersuche einschalten. </font>
			</td>
		</tr>
		<tr>
		<td colspan=3 valign="middle"></td>
					<h3></h3>
				<td style="height: 33px; width: 24px;"></td>

		</tr>
		<tr>
			<td colspan=3 valign="middle" style="height: 33px">
<hr />
				<h3>T2S Feineinstellungen</h3>
			</td>
			<td style="height: 33px; width: 24px;"></td>
		</tr>
		<tr>
			<td colspan=3 valign="middle">
				<font size="-1">Bitte &uumlbernehme die Standard Werte und &aumllndere diese Parameter erst nach erfolgreicher Installation (siehe Hilfe)!
				</font>

			</td>
			<td style="height: 33px; width: 24px;"></td>
		</tr>
		<tr>
			<td style="width: 25%; height: 60px;">
				<label id="lvolume">Volume &Aumlnderung +/-per Klick:</label>
			</td>
				<td style="width: 50%; height: 60px;">
					<table border=0 width="100%">
						<tr>
							<td style="width: 19%">
								<select id="volume" name="volume" data-mini="true" data-native-menu="false" style="width: 62%">
									<option value="3" <!--$volume1-->>3 %</option>
									<option value="5" <!--$volume2-->>5 %</option>
									<option value="7" <!--$volume3-->>7 %</option>
									<option value="10" <!--$volume4-->>10 %</option>
								</select>

							</td>
							<td>
								<table border=0 width="100%">
						<tr>
						</tr>
				</table>
			</td>
		</tr>
	</table>
		<td valign="middle" style="height: 60px; width: 201px;">
			&nbsp;
		</td>
			<td style="height: 60px; width: 24px;">
		</td>
	</tr>
	<tr>
		<td style="width: 25%; height: 40px;">
			<label id="lrampto">Rampto Parameter:</label>
		</td>
		<td style="width: 50%; height: 60px;">
			<table border=0 width="100%">
				<tr>
					<td style="width: 60%; height: 45px;">
						<fieldset data-role="controlgroup" data-type="horizontal">
							<input onclick="disable()" type="radio" name="rampto" id="rmpsleep" value="sleep" <!--$selectedrampto1-->>
							<label for="rmpsleep">Sleep</label>
							<input onclick="disable()" type="radio" name="rampto" id="rmpalarm" value="alarm" <!--$selectedrampto2-->>
				 			<label for="rmpalarm">Alarm</label>
							<input onclick="disable()" type="radio" name="rampto" id="rmpauto" value="auto" <!--$selectedrampto3-->>
				 			<label for="rmpauto">Auto</label>
						</fieldset>
					</td>
					<td style="width: 40%; height: 45px">
						<table border=0 align="left" style="width: 99%">
							<tr>
								<td class="auto-style1" style="height: 30px; width: 70%;">
								<label id="lrmpvol">Rampto Volume:</label>
								</td>
								<td style width: "60%" class="auto-style2">
									<input id="rmpvol" name="rmpvol" type="text" data-validation="number" class="textfield" value="<!--$rmpvol-->"
									data-validation-allowing="range[1;100]"
									data-validation-error-msg="* Rampto Volume: Bitte nur Zahlen von 1 bis 100 eingeben.">
								</td>
							</tr>
						</table>
					</td>
			</table>
				<td valign="middle" style="height: 60px; width: 201px;">
				&nbsp;
			</td>
				<td style="height: 60px; width: 24px;">
			</td>
			<tr>
				<td colspan=3 valign="middle"></td>
					<h3></h3>
				<td style="height: 33px; width: 24px;"></td>
			</tr>
				<td colspan=3 valign="middle" style="height: 33px">
					<hr />
					<h3>Radio Favoriten f&uumlr Taster Bedienung</h3>
				</td>
				<td style="height: 33px; width: 24px;"></td>

				<tr>		
					<td colspan=3 valign="middle" style="height: 36px">
					<font size="-1">Dies sind voreingestellte Radiosender f&uumlr Taster Bedienung. 
					Mit der Funktion werden per Klick die Radio Favoriten 
					durchgezappt. <br>Wie du die Favoriten korrekt einpflegst schau bitte ins Wiki.
					</font>
		<p>
		</p>
			<table width="100%" cellpadding="2" cellspacing="0" border="1px" border="1" id="tblBasic2">
			  <tr>
				<th style="width: 35px">
				<img class='ico_delete' src='/plugins/<!--$psubfolder-->/images/recycle-bin.png' border='0' width='24' height='24'>
				</th>

			    <th align="left" style="height: 25px">Sender Name</th>
			    <th align="left" style="height: 25px; width: 888px;">Sender URL</th>
			  </tr>
			  <!--$rowsradios-->
			</table>
			<a onClick="AddRadio();return false;" id="btnaddradio" data-role="button" data-inline="true" data-mini="true" data-icon="plus" href="#">Hinzuf&uumlgen</a>
			
			<table border=0 width="100%">
				<tr>
					<td style="width: 27%">
						Ansage des Radiosenders vor Play:</td>
					<td style="width: 557px">
						<fieldset style="width: 587px">
							<select id="announceradio" name="announceradio" data-role="flipswitch">
								<option <!--$selectedannounceradio1--> value="0">Aus</option>
								<option <!--$selectedannounceradio2--> value="1">Ein</option>
							</select>&nbsp;&nbsp; <span class="auto-style4">(gilt 
							nur f&uumlr die Funktionen '<strong>nextradio</strong>' 
							und '<strong>zapzone</strong>')</span>
						</fieldset>
						<input id="maxzap" name="maxzap" type="hidden" class="textfield" value="<!--$maxzap-->">
					</td>
					

				</tr>
			</table>

					<br>
					<h3>&nbsp;</h3><hr />
					<h3>Bundesland, Stadt oder Gemeinde f&uumlr Pollenflug und 
					Wetterhinweise oder Wetterwarnungen (nur f&uumlr BRD)</h3>
					
					<font size="-1">Um Pollenflug und 
					Wetterhinweise bzw. Wetterwarnungen per T2S mitgeteilt zu 
					bekommen bitte Bundesland und Stadt bzw. Gemeinde einpflegen. 
					Datenquelle ist der deutsche Wetterdienst.
					</font>
	
				
						<tr>
						<td style="width: 25%">
						Bundesland / Region:
			</td>
			<td style="width: 50%">
				<table border=0 width="100%">
			<tr>
				<td width="19%">
					<select id="region" name="region" data-mini="true" data-native-menu="false" style="width: 83%">
									<option value="baw" <!--$region1-->>Baden-W&uumlrttemberg</option>
									<option value="bay" <!--$region2-->>Bayern</option>
									<option value="bbb" <!--$region3-->>Berlin und Brandenburg</option>
									<option value="hes" <!--$region4-->>Hessen</option>
									<option value="mvp" <!--$region5-->>Mecklenburg-Vorpommern</option>
									<option value="nib" <!--$region6-->>Niedersachsen und Bremen</option>
									<option value="nrw" <!--$region7-->>Nordrhein-Westfalen</option>
									<option value="rps" <!--$region8-->>Rheinland-Pfalz und Saarland</option>
									<option value="sac" <!--$region9-->>Sachsen</option>
									<option value="saa" <!--$region10-->>Sachsen-Anhalt</option>
									<option value="shh" <!--$region11-->>Schleswig-Holstein und Hamburg</option>
									<option value="thu" <!--$region12-->>Th&uumlringen</option>
						</select>
				</td>
			<td>
				<table border=0 width="100%">
					<tr>
						<td width="50%" class="auto-style1" style="height: 30px">
							Stadt oder Gemeinde:</td>
						<td style="height: 30px">
							<input id="town" name="town" type="text" class="textfield" value="<!--$town-->">
						</td>
						
					</tr>
				</table></tr>
			</td>
		</tr>
	</table>
		<td valign="middle" style="height: 60px; width: 201px;" class="auto-style4">
		<a id="linkdwd" href="http://www.dwd.de/DE/wetter/warnungen_gemeinden/warntabellen/warntabellen_node.html" target="_blank">Wetterwarnung Standort pr&uumlfen</a><br>
		<a id="linkpollen" href="http://www.wetterdienst.de/Deutschlandwetter/DEINE_STADT/Pollenflug/" target="_blank">Pollenflug Standort pr&uumlfen</a></td>
		<td style="height: 60px; width: 24px;">
		
		</td>
		<tr>
		<td colspan=3 valign="middle" style="height: 33px">
					<h3>&nbsp;</h3><hr />
					<h3>Fahrzeitansage von deinem Standort zu einem gew&uumlnschten Ziel 
					(basierend auf Google Maps)</h3>
				</td>

		</tr>
		<tr>
		<td colspan=3 valign="middle" style="height: 37px">
					<font size="-1">Mit der Fahrzeitberechnung wird die ca. 
					Fahrdauer von deinem Standort zu einem anzugebenen Ziel 
					angesagt.&nbsp; (Details siehe Wiki). Zuerst bitte bei
					<a href="https://www.google.de/maps">
					https://www.google.de/maps</a> pr&uumlfen!</font></tr>
		<tr>
		<td style="height: 48px; width: 25%">
			<label id="lapikey">Google (distance matrix API):</label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="googlekey" name="googlekey" type="text" class="textfield" value="<!--$googlekey-->">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
		<font size="-1">
		<a id="linkgoogle" href="https://developers.google.com/maps/documentation/distance-matrix/" target="_blank">Key 
		f&uumlr Google distance to matrix erstellen</a></font></td>
		<td style="height: 48px; width: 24px;"></td>

		</tr>
<td style="width: 25%">Land / Stadt / Dorf / Gemeinde:
			<br><span class="auto-style7">z.B. D-60623 o. Frankfurt o. 60623</span></td>
			<td style="width: 50%">
				<table border=0 width="100%">
			<tr>
				<td style="width: 41%">
					<input id="googletown" name="googletown" type="text" class="textfield" value="<!--$googletown-->" style="width: 215px">
				</td>
			<td>
				<table border=0 width="100%">
					<tr>
						<td class="auto-style1" style="height: 30px; width: 24%;">
							Adresse:</td>
						<td style="height: 30px">
							<input id="googlestreet" name="googlestreet" type="text" class="textfield" value="<!--$googlestreet-->" style="width: 231px">
						</td>
						
					</tr>
				</table></tr>
			
	</table>
		<td valign="middle" style="height: 60px; width: 201px;" class="auto-style4">
		<td style="height: 60px; width: 24px;">
	</td>
	<p>
	
	</p>
	<tr>
		<td colspan=3 valign="middle" style="height: 33px">
					<h3>&nbsp;</h3><hr />
					<h3>Kalendar Ansage basierend auf CALDav Plugin 
					(Syntaxermittlung im Plugin durchf&uumlhren)</h3>
				</td>

		</tr>
	<tr>
	<td style="height: 48px; width: 25%">
			<label id="lwastecal">Abfallkalender:</label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="wastecal" name="wastecal" type="text" class="textfield" value="<!--$wastecal-->">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
		</td>
		<td style="height: 48px; width: 24px;"></td>
		<tr>
		<td style="height: 48px; width: 25%">
			<label id="lcal">Kalender:</label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="cal" name="cal" type="text" class="textfield" value="<!--$cal-->">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
		</td>
		<td style="height: 48px; width: 24px;"></td>

		</tr>


	</tr>

	</table>
	
	
		<tr>
			<td></td>
				<td colspan=3>
					<div id="form-error-message" class="form-error-message"></div>
				</td>
			</tr>
		<p>
			<p>
			<center>
				<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi">Abbrechen</a>
				<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check">Speichern</button>
			</center>
		</p>
		
	</form>



<script>


	
	var $messages = $('#form-error-message');
	    $.validate({
	    modules : 'security',
	    scrollToTopOnError : true,
	    errorMessagePosition : $messages,
  });


$(document).on('pageinit', function() {
  
		
// Disable some options on Load depending on selected value
disable();

});

// function to disable/enable some fields on click depending on selected value
function disable() {

  // T2S INSTANZ
  if ( document.main_form.tts_voicerss.checked == true ) {
     $('#lapikey').removeClass('ui-disabled');
     $('#apikey').removeClass('ui-disabled');
     $('#lseckey').addClass('ui-disabled');
     $('#seckey').addClass('ui-disabled');
     $('#linkvoicerss').removeClass('ui-disabled');
     $('#linkpolly').addClass('ui-disabled');
  }
  if ( document.main_form.tts_mac_osx.checked == true ) {
     $('#lapikey').addClass('ui-disabled');
     $('#apikey').addClass('ui-disabled');
     $('#lseckey').addClass('ui-disabled');
     $('#seckey').addClass('ui-disabled');
     $('#linkvoicerss').addClass('ui-disabled');
     $('#linkpolly').addClass('ui-disabled');
  }
  if ( document.main_form.tts_pico.checked == true ) {
     $('#lapikey').addClass('ui-disabled');
     $('#apikey').addClass('ui-disabled');
     $('#lseckey').addClass('ui-disabled');
     $('#seckey').addClass('ui-disabled');
     $('#linkvoicerss').addClass('ui-disabled');
     $('#linkpolly').addClass('ui-disabled');
  }
  if ( document.main_form.tts_respvoice.checked == true ) {
     $('#lapikey').addClass('ui-disabled');
     $('#apikey').addClass('ui-disabled');
     $('#lseckey').addClass('ui-disabled');
     $('#seckey').addClass('ui-disabled');
     $('#linkvoicerss').addClass('ui-disabled');
     $('#linkpolly').addClass('ui-disabled');
  }
  
  if ( document.main_form.tts_polly.checked == true ) {
     $('#lapikey').removeClass('ui-disabled');
     $('#apikey').removeClass('ui-disabled');
     $('#lseckey').removeClass('ui-disabled');
     $('#seckey').removeClass('ui-disabled');
     $('#linkvoicerss').addClass('ui-disabled');
     $('#linkpolly').removeClass('ui-disabled');
 }
 if ( document.main_form.tts_google.checked == true ) {
     $('#lapikey').addClass('ui-disabled');
     $('#apikey').addClass('ui-disabled');
     $('#lseckey').addClass('ui-disabled');
     $('#seckey').addClass('ui-disabled');
     $('#linkvoicerss').addClass('ui-disabled');
     $('#linkpolly').addClass('ui-disabled');
  }
}

function AddRadio() {

  // Total number of Radios
  var iteration = document.getElementById('countradios').value;
  iteration = parseInt(iteration)

  var tbl = document.getElementById('tblBasic2');

  // Del 1. row if there where no radios
  if ( iteration < 1 ) {
    var row = tbl.deleteRow(-1);
  }

  var lastRow = tbl.rows.length;
  iteration += 1;
  document.getElementById("countradios").value = iteration;

  // Add cells
  var row = tbl.insertRow(lastRow);
  var cellRight = row.insertCell(0);
  cellRight.innerHTML = '<tr><td style="height: 25px; width: 43px;" class="auto-style1"><INPUT type="checkbox" style="width: 20px" name="chkradios' + iteration + '" id="chkradios' + iteration + '" align="center"/></td>'
  var cellRight = row.insertCell(1);
  cellRight.innerHTML = '<td style="height: 28px"><input type="text" id="radioname' + iteration + '" name="radioname' + iteration + '" size="20" value="" /> </td>'
  var cellRight = row.insertCell(2);
  cellRight.innerHTML = '<td style="width: 888px; height: 28px"><input type="text" id="radiourl' + iteration + '" name="radiourl' + iteration + '" size="100" value="" style="width: 862px" /> </td></tr>'
  // Recreate JQUERY styles
  $("#main_form").trigger('create');

}

// Scan for Players
function Scan() {

  url = './index.cgi?do=scan';
  document.location.href = url;

}



// make UDP Port mandatory in case flipswitch value is true
function selection() {    
var cat = document.getElementById('sendlox').value;    
    if (cat == "true") {
		$("#udpport").attr('required', ''); 
	} else {
		$("#udpport").removeAttr('required'); 
    }
$("#sendlox").flipswitch("refresh"); 
}



// function to make field voice not functional by default
$('#voice').addClass('ui-disabled');


// prepare the voice list dependend on language list

function filterlang() {    
	if (document.main_form.tts_polly.checked == true ) {
		var select = document.getElementById("lang");
		var selectedlanguage = select.options[select.selectedIndex].value;
//	    alert(selectedlanguage);		
	    $('#voice').empty();
	    var url = "lang/polly_voices.json";
	    $.getJSON(url, function(listvoice)  {

		    var selectedvoiceList = listvoice.filter(function(item){
		    	return item.language === selectedlanguage;
		  	});
		    $.each(selectedvoiceList, function(index, value) {
				$('#voice').append('<option value="'+value.language+'">'+value.name+'</option>');
		    });
		});
	    return selectedlanguage;
	    $('select').selectmenu('refresh', true);  
    }
}


// prepare the name to pass to CGI
function filtervoice() {  

	if (document.main_form.tts_polly.checked == true ) {
		var selectvoice = document.getElementById("voice");
		var selectedvoice = selectvoice.options[selectvoice.selectedIndex].text;
//	    alert(selectedvoice);
		return selectedvoice;
		$('select').selectmenu('refresh', true);  
	}
}




// function to populate dropdown based on selected T2S Provider
 $(document).ready( function() {
      $("input[name='t2s_engine']").on('change',function() {
          
          if($(this).is(':checked') && $(this).val() == '1001')  {
            $('#voice').addClass('ui-disabled');
            var url = "lang/voicerss.json";
          }
          else if($(this).is(':checked') && $(this).val() == '3001')   {
            $('#voice').addClass('ui-disabled');
            var url = "lang/osx.json";
          }
		  else if($(this).is(':checked') && $(this).val() == '4001')   {
	        $('#voice').removeClass('ui-disabled');
            var url = "lang/polly.json";	     
          }
		  else if($(this).is(':checked') && $(this).val() == '5001')   {
            $('#voice').addClass('ui-disabled');
            var url = "lang/pico.json";	                 
		  }
		  else if($(this).is(':checked') && $(this).val() == '6001')   {
            $('#voice').addClass('ui-disabled');
			var url = "lang/respvoice.json";	                             
          }
		  else if($(this).is(':checked') && $(this).val() == '7001')   {
            $('#voice').addClass('ui-disabled');
			var url = "lang/google.json";	                                         
          }
          else  {
	             
          }
          $('#lang').empty();
          $('#voice').empty();
          $('#lang').append('<option value="default">** Sprache wählen **</option>');
          $('#voice').append('<option value="default">** Stimme wählen **</option>');
          $.getJSON(url, function(listlang)  {
               	$.each(listlang, function(index, value)  { 
           			$('#lang').append('<option value="'+value.value+'">'+value.country+'</option>');
             	});
            });                  
          $('select').selectmenu();
          $('select').selectmenu('refresh', true);  
    });
    
    

// main_form is submitted    
$("form#main_form").submit(function() { 

var select = document.getElementById("lang");
var selectedlanguage = select.options[select.selectedIndex].value;
var selectedcode = select.options[select.selectedIndex].text;

var selectvoice = document.getElementById("voice");
var selectedvoice = selectvoice.options[selectvoice.selectedIndex].text;

//alert(selectedlanguage);
//alert(selectedvoice);
//alert(selectedcode);

if (selectedvoice && selectedlanguage && selectedcode) { // values are not empty
    $.ajax({
        type: "POST",
        
        // URL of the Perl script
        url: "./index.cgi", 
		
		// send parameters to the Perl script
        data: "selectedvoice=" + selectedvoice + "selectedlanguage=" + selectedlanguage + "selectedcode=" + selectedcode,

        // script call was *not* successful
        error: function() { 
            alert("script call was not successful");
        }, 

        // script call was successful 
        // perl_data should contain the string returned by the Perl script 
        success: function(perl_data){
            //alert("T2S: " + perl_data)
        }
    });   
}

else {
  
}

$('div#loginResult').fadeIn();
return false;
  });
   
    
}); 





</script>




