; Die Namen der Sonos Zonen, Rincon-ID und Sonos Modell bitte NIE ändern!!
;
; Bei neu hinzugefügten Zonen bitte die Werte für T2S Standard Lautstärke, Sonos Standard Lautstärke 
; und Sonos Maximum Lautstärke je Zone zwischen den letzten 3 Kommas aktualisieren/ergänzen.
;
; Folgender Aufbau MUSS eingehalten werden:
; Raum[]=IP,Rincon-ID,Sonos Modell,T2S Volume,Sonos Volume,Sonos Maximum Volume

[SONOSZONEN]
kueche[]=192.168.50.57,RINCON_000E5872D59801400,PLAY:3,35,30,80
wohnen[]=192.168.50.25,RINCON_000E58250E5001400,CONNECT,100,100,100
buero[]=192.168.50.31,RINCON_000E5872D8AC01400,PLAY:3,25,30,100
terrasse[]=192.168.50.75,RINCON_000E58396A2401400,CONNECT:AMP,,,
schlafen[]=192.168.50.38,RINCON_000E5850DC0E01400,PLAY:5,35,30,100
bad[]=192.168.50.24,RINCON_000E583BB98E01400,CONNECT:AMP,35,30,100
