		<center>
			<table border=0>
				<tr>
					<td align="center">
						<h2><FONT COLOR="#FF0000"><TMPL_VAR ERR_TITLE></FONT></h2>
						<p>
							<TMPL_VAR ERR_MESSAGE>
							<br />
							<br />
						</p>
					</td>
				</tr>
				<tr>
					<td align="center">
						<p>
							<a id="btnback" onclick="location.href='/admin/system/index.cgi'" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete"><TMPL_VAR ERR_BUTTON_BACK></a>
						</p>
					</td>
				</tr>
			</table>
		</center>
