	<center>
		<table width="100%" border=0>
			<tr>
				<td align="center">
					<h2><TMPL_VAR SONOS_SCAN_HEADER></h2>
					<p>
						<TMPL_VAR SONOS_SCAN_TEXT>
						<br>
						<br>
					</p>
				</td>
			</tr>
			<tr>
				<td align="center">
					<p>
						<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" onclick="location.href='index.cgi?form=main_form'"><TMPL_VAR BUTTON_BACK></a>
						<a id="btok" data-role="button" data-inline="true" data-mini="true" data-icon="check" onclick="Scanning()"><TMPL_VAR BUTTON_NEXT></a>
					</p>
				</td>
			</tr>
		</table>
	</center>
	<script>
	
	// Scan for Players
	function Scanning() 
	{
		url = './index.cgi?do=scanning';
		document.location.href = url;
	}

	</script>

