<style type="text/css">

</style>

<TMPL_IF SETTINGS>
<!-- form 'FORM' START -->
<form method="post" data-ajax="false" accept-charset="utf-8" name="main_form" id="main_form" action="./index.cgi?form">
	<input type="hidden" name="saveformdata1" value="1">
		<div class="form-group">
				<font COLOR="blue"><TMPL_VAR SAVE></font>

<table class="formtable" border="0" width="100%" cellpadding="10">
	<tr>
		<td valign="middle" style="height: 33px; width: 25%; text-align: center;">
			<h2 class="auto-style3" style="width: 100%"><TMPL_VAR ZONES.SONOS_CONFIG></h2>
		<td style="height: 33px; text-align: center;">
			<img class='ico_sonos' src='/plugins/<TMPL_VAR PLUGINDIR>/images/sonos_logo.png' border='0' width='186' height='125' align="absmiddle">
		</td>
		<td style="height: 33px; width: 201px;"></td>

	</tr>
	<tr>
		<td style="height: 41px; width: 25%;" valign="top">
			<label id="lzonen"><TMPL_VAR ZONES.SONOS_ZONE_LABEL></label>
		</td>
		<td valign="middle" style="height: 41px; width: 50%;">
		<table width="100%" cellpadding="2" cellspacing="0" border="1px" border="1" id="tblzonen">
			  <tr>
			    <th style="width: 35px; height: 45px;">
				<img class='ico_delete' src='/plugins/<TMPL_VAR PLUGINDIR>/images/recycle-bin.png' border='0' width='24' height='24'>
				</th>
				<th align="left" style="height: 45px; width: 196px"><TMPL_VAR ZONES.SONOS_ROOM></th>
			    <th align="left" style="height: 45px; width: 147px;"><TMPL_VAR ZONES.SONOS_MODEL></th>
   			    <th align="left" style="height: 45px; width: 98px;"><TMPL_VAR ZONES.SONOS_T2S-VOL></th>
			    <th align="left" style="height: 45px; width: 98px;"><TMPL_VAR ZONES.SONOS_SONOS-VOL></th>
			    <th align="left" style="height: 45px; width: 98px;"><TMPL_VAR ZONES.SONOS_MAX-VOL></th>
			  </tr>
			  <TMPL_VAR ROWSSONOSPLAYER>
			</table>
		</td>
			<td style="width: 201px; height: 41px;" valign="top">
				<a onClick="Scan()" id="btnplayerscan" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="#"><TMPL_VAR T2S.BUTTON_SCAN></a>
			<br>
	</tr>
	
	<tr>
		<td style="width: 201px; height: 20px;" valign="top">
		</td>
		<td style="width: 201px; height: 20px;" valign="top">
			<font color=#FF0000><marquee><TMPL_VAR INFO></marquee></font>
		</td>
	</tr>

	<tr>
		<td style="width: 25%; height: 45px;">
			<label id="ltts_instanz"><TMPL_VAR T2S.TTS_INSTANZ></label>
		</td>
		<td style="width: 50%; height: 45px;">
			<fieldset data-role="controlgroup" data-type="horizontal">
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_voicerss" value="1001"><TMPL_VAR SELECTEDINSTANZ2>
	 			<label for="tts_voicerss">VoiceRSS</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_mac_osx" value="3001"><TMPL_VAR SELECTEDINSTANZ3>
				<label for="tts_mac_osx">OSX</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_polly" value="4001"><TMPL_VAR SELECTEDINSTANZ4>
				<label for="tts_polly">AWS Polly</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_pico" value="5001"><TMPL_VAR SELECTEDINSTANZ5>
				<label for="tts_pico">Pico2Wave</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_respvoice" value="6001"><TMPL_VAR SELECTEDINSTANZ6>
				<label for="tts_respvoice">RespVoice</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_google" value="7001"><TMPL_VAR SELECTEDINSTANZ7>
				<label for="tts_google">Google</label>
			</fieldset>
			<script>$("input[name=t2s_engine]").val(['<TMPL_VAR TTS.t2s_engine>']);</script>

			<div class="googleinfo">
			<label align="middle"><FONT size="-1" COLOR="#0000CD"><TMPL_VAR T2S.GOOGLE_INFO></FONT></label>
			</div>

			</td>
		<td valign="middle" style="height: 45px; width: 201px;" class="keylinks">
		<font size="-1"><a id="linkvoicerss" target="_blank"><TMPL_VAR T2S.LABEL_API_KEY_VOICESS></a></font>
		<br><br>
		<font size="-1"><a id="linkpolly" target="_blank"><TMPL_VAR T2S.LABEL_API_KEY_POLLY></a></font>
		<font size="-1"><span><TMPL_VAR T2S.LABEL_POLLY_PRICING></span></font></td>
		<td style="height: 13px; width: 24px;"></td>
	</tr>
	
	<tr class="colapi">
		<td style="height: 48px; width: 25%">
			<label id="lapikey"><TMPL_VAR T2S.LABEL_API_KEY></label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="apikey" name="apikey" type="text" class="textfield" value="<TMPL_VAR TTS.api-key>"
			data-validation-error-msg="<TMPL_VAR ERRORS.ERR_APIKEY>" 
			data-validation-rule="^(([A-Za-z0-9\!\#\$\%\&\'\*\+\-\,\/\:\;\=\?\@\[\]\\\]]){20}|([A-Za-z0-9\!\#\$\%\&\'\*\+\-\,\/\:\;\=\?\@\[\]\\\]]){32})$">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
		</td>
		<td style="height: 48px; width: 24px;"></td>
	</tr>
	<tr class="colsec">
		<td style="width: 25%; height: 48px;">
			<label id="lseckey"><TMPL_VAR T2S.LABEL_SECRET_KEY></label>
		</td>
		<td style="width: 50%; height: 48px;">
			<input id="seckey" name="seckey" type="text" class="textfield" value="<TMPL_VAR TTS.secret-key>"
			data-validation-error-msg="<TMPL_VAR ERRORS.ERR_SECRETKEY>" data-validation-rule="^([A-Za-z0-9\!\#\$\%\&\'\*\+\-\,\/\:\;\=\?\@\[\]\\\]]){40}$">

		<td style="width: 201px; height: 48px;">
		</td>
		<td style="width: 24px; height: 48px;"></td>		
	</tr>
	<tr class="collang">
			<td style="height: 60px; width: 25%;">
			<label id="llang"><TMPL_VAR T2S.TTS_LANGUAGE></label>
		</td>
		<td width="50%" style="height: 60px">
			<table border=0 width="100%">
				<tr>
					<div data-role="collapsible">
						<td style="height: 36px; width: 294px; text-align: left;">
							<fieldset style="width: 286px">
								<select onclick="filterlang()" id="t2slang" name="t2slang" data-mini="true" style="width: 258px;"
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								</select>
							</fieldset>
						</td>
					<div id="loginResult" style="display:none;">
					</div>
					<div id="msg"></div>
						<td style="height: 36px; width: 294px;" class="field-voice" style="display:none">
							<fieldset style="width: 187px">
								<select id="voice" name="voice" data-mini="true" style="width: 206px;"
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_VOICE_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								</select>
							</fieldset>
						<td style="height: 36px; width: 294px; text-align: right;">
								<fieldset style="width: 68px">
								<input name="langiso" id ="langiso" style="width: 46px" readonly="true" type="text" align="middle">
							</fieldset>
						</td>
					</div>
				</tr>
			</table>
		</td>
			<td style="height: 30px; width: 201px;">
			</td>
		</tr>
		<tr class="colmp3">
			<td style="width: 25%">
				<label id="lmp3store"><TMPL_VAR T2S.LABEL_MP3_FILES></label>
			</td>
			<td style="width: 50%">
				<table border=0 width="100%">
			<tr>
				<td width="19%">
					<select id="mp3store" name="mp3store" data-mini="true" data-native-menu="false" width="50%">
						<option value="1"><TMPL_VAR T2S.1DAY_MP3_STORE></option>
						<option value="7"><TMPL_VAR T2S.7DAY_MP3_STORE></option>
						<option value="30"><TMPL_VAR T2S.30DAY_MP3_STORE></option>
						<option value="365"><TMPL_VAR T2S.365DAY_MP3_STORE></option>
						<option value="0"><TMPL_VAR T2S.ENDLESS_MP3_STORE></option>
					</select>
					<script>
						$('#mp3store option[value="<TMPL_VAR MP3.MP3store>"').prop('selected', 'selected');
					</script>
				</td>
			<td>
				<table border=0 width="100%">
					<tr>
						<td style="height: 30px; text-align: center; width: 34%;">
							<label id="lfile_gong"><TMPL_VAR T2S.LABEL_MP3_FILE></label>
						</td>
						<td style="height: 30px">
							<select id='file_gong' name='file_gong' data-mini='true' 
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_JINGLE_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$" style="width: 244px">
								<option selected='true' value='' disabled><TMPL_VAR T2S.SELECT_JINGLE_DROPDOWN></option>
								<TMPL_VAR MP3_LIST>
							</select>
							<script>
							$('#file_gong').val('<TMPL_VAR MP3.file_gong>');
							</script>
							
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
		<td valign="middle" style="height: 60px; width: 201px;">
		&nbsp;
		</td>
		<td style="height: 60px; width: 24px;">
		</td>
	</tr>
	
	<tr>
	<td style="height: 60px; width: 25%;">
			<label id="lcachesize"><TMPL_VAR T2S.LABEL_CACHESIZE></label>
		</td>
		<td width="50%" style="height: 60px">
			<input type="range" name="cachesize" id="cachesize" value="<TMPL_VAR MP3.cachesize>" min="100" max="5000" step="100">
		</td>
		<td style="height: 30px; width: 201px;">
		</td>
		<td style="height: 30px; width: 201px;">
		</td>
	</tr>
	
	<tr>
		<td style="height: 60px; width: 25%;">
			<label id="lcard1"><TMPL_VAR T2S.LABEL_SOUNDCARD></label>
		</td>
		<td id="mypath" name="mypath" style="height: 60px; width: 25%;">
			<TMPL_VAR STORAGEPATH>
			<font size="-1"><TMPL_VAR T2S.JINGLE_SOURCE></font> <font size="-1" color="blue"><TMPL_VAR DATADIR>/tts/</font>
        </td>
        	<td style="height: 60px; width: 201px;">
        	<font size="-1"><TMPL_VAR T2S.LABEL_SONOS_FOLDER1></font>
        	<font size="-1" color="blue"><b><TMPL_VAR T2S.LABEL_SONOS_FOLDER2></b></font>
			<font size="-1"><TMPL_VAR T2S.LABEL_SONOS_FOLDER3></font>
			<font size="-1" color="blue"><b><TMPL_VAR T2S.LABEL_SONOS_FOLDER4></b></font>
			<font size="-1"><TMPL_VAR T2S.LABEL_SONOS_FOLDER5></font>
		</td>
			<td style="height: 60px; width: 201px;">
		</td>
	</tr>

	<tr>
		<td style="height: 60px; width: 25%;">
			<!--<a id="lsendlox" <TMPL_VAR T2S.DATA_TRANSFER_MINISERVER_LINK> target="_blank"><TMPL_VAR T2S.DATA_TRANSFER_MINISERVER></a>-->
			<label id="lsendlox"><TMPL_VAR T2S.DATA_TRANSFER_MINISERVER></label>
		</td>
		<td width="50%" style="height: 60px">
			<table border=0 width="100%">
				<tr>
					<td style="width: 25%">
					<fieldset>
							<select onchange="selection()" id="sendlox" name="sendlox" data-role="flipswitch" style="width: 104px">
								<option value="false"><TMPL_VAR T2S.LABEL_FLIPSWITCH_OFF></option>
								<option value="true"><TMPL_VAR T2S.LABEL_FLIPSWITCH_ON></option>
							</select>
							</fieldset>
						<script>
						$('#sendlox').val('<TMPL_VAR LOXONE.LoxDaten>')
						</script>	
					</td>
				<td style="width: 23px; text-align: center;">	
					&nbsp;</td>
				<td>
					<table border=0 style="width: 91%">
						<tr>
							<td class="field_ms" align="right" style="width: 245px">
							<!--<select id="miniserver" name="miniserver" data-mini="true" data-native-menu="false" style="width: 142px"><TMPL_VAR MSSELECTLIST>
							</select>-->
						<TMPL_VAR MS>
						</td>	
					<td class="field_lab_udp" align="right" style="width: 184px">
					<TMPL_VAR T2S.LABEL_UDP_PORT></td>
				<td class="field_udp" style="width: 27px">
					<input id="udpport" name="udpport" type="text" value="<TMPL_VAR LOXONE.LoxPort>" align="left" style="width: 71px; "
					data-validation-error-msg="<TMPL_VAR ERRORS.ERR_UDPPORT>" data-validation-rule="special:port">
				</td>
			</tr>
		</table>
	</td>
</tr>
	</table>
		</td>
			<td class="empty_template" style="height: 30px; width: 201px;">
				<font size="-1"><TMPL_VAR T2S.LABEL_SONOS_DATA_TRANSFER></font>
			</td>
			<td class="empty_template" style="height: 30px; width: 24px;">
				<font size="-1">
					<div id="testurl">
					</div>
				</font>
				
			</td>
		</tr>
		
		<tr>
		<td class="label_template" style="height: 60px; width: 25%;">
			<label id="ltemplate"><TMPL_VAR T2S.LABEL_TEMPLATE></label>

		</td>
		<td class="template" width="50%" style="height: 60px">
			<table border=0 width="100%">
				<tr>
					<td class="empty_template" style="width: 25%">
					<a download="VIU_Sonos_UDP.xml" title="UDP Inputs" data-role="button" data-inline="true" data-mini="true" 
					href="/plugins/<TMPL_VAR PLUGINDIR>/system/VIU_Sonos_UDP.xml"><TMPL_VAR T2S.BUTTON_TEMPLATE></a>
				<td style="width: 23px; text-align: center;">	
					&nbsp;</td>
				<td>
					<table border=0 style="width: 99%">
					<tr>
							
					<td class="empty_template" style="width: 50%; height: 60px;">
				
				<font size="-1"><TMPL_VAR T2S.HELP_TEMPLATE>
				<a id="lwiki" target="_blank"><TMPL_VAR T2S.HELP_TEMPLATE_END></a>
				</font>
			</td>
		</tr>
		</table>
	</td>
</tr>
	</table>
		</td>
			<td class="empty_template" style="height: 30px; width: 201px;">
			</td>
			<td class="empty_template" style="height: 30px; width: 24px;">
				<font size="-1">
					<div id="testurl">
					</div>
				</font>
			</td>
		</tr>
		

		

		<!-- Options-->
		<tr>
			<td colspan=3 style="height: 30px; ">
				<hr/>

				<h3><TMPL_VAR TEMPLATE.MAIN_LABEL_OPTIONS></h3>
			</td>
		</tr>
		<td style="height: 30px; width: 10%;">
			<TMPL_VAR TEMPLATE.LABEL_OPTIONS>
		</td>
			<td colspan=3 valign="middle">
				<div style="display:table-cell; width:60%;">
					<div style="display:table; padding:10px; border: 1px solid black; border-radius: 5px; background-color: #6dac20;">
						<fieldset data-role="controlgroup">
							 <div style="display:table-row;">
								<!--<div style="display:table-cell;">-->
									<!--<input name="Checkbox1" type="checkbox" onclick="t2slayout()" id="t2s_det" data-icon="check" style="width: 142px">-->
									<!--<label for="t2s_det"><TMPL_VAR T2S_DETAILS.LAYOUT_CHECKBOX></label>-->
									<!--</div>-->
								<div style="display:table-cell;">
									<input name="Checkbox2" type="checkbox" onclick="radlayout() "id="radio_det" data-icon="check" style="width: 142px">
									<label for="radio_det"><TMPL_VAR RADIO.LAYOUT_CHECKBOX></label>
								</div>
								<div style="display:table-cell;">
									<input name="Checkbox3" type="checkbox" onclick="weatherlayout()" id="weather_det" data-icon="check" style="width: 142px">								
									<label for="weather_det"><TMPL_VAR WEATHER.LAYOUT_CHECKBOX></label>
								</div>
								<div style="display:table-cell;">
									<input name="Checkbox4" type="checkbox" onclick="destlayout()" id="dest_det" data-icon="check" style="width: 142px">								
									<label for="dest_det"><TMPL_VAR DESTINATION.LAYOUT_CHECKBOX></label>
								</div>
								<div style="display:table-cell;">
									<input name="Checkbox5" type="checkbox" onclick="callayout()" id="cal_det" data-icon="check" style="width: 142px">								
									<label for="cal_det"><TMPL_VAR CALENDAR.LAYOUT_CHECKBOX></label>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</td>
		
	
	<!-- Start Radio-->
	
	<tr class="radiodet">
	<td colspan=3 valign="middle" style="height: 33px">
		<hr />
		<h3><TMPL_VAR RADIO.HEADER_RADIO></h3>
	</td>
	<td style="height: 33px; width: 24px;"></td>
	<tr class="radiodet">		
		<td colspan=3 valign="middle" style="height: 36px">
		<font size="-1"><TMPL_VAR RADIO.NOTE_RADIO></font>
		<p></p>
			<table width="100%" cellpadding="2" cellspacing="0" border="1px" border="1" id="tblBasic2">
			  <tr class="radiodet">
				<th style="width: 35px">
				<img class='ico_delete' src='/plugins/<TMPL_VAR PLUGINDIR>/images/recycle-bin.png' border='0' width='24' height='24'>
				</th>
			    <th align="left" style="height: 25px"><TMPL_VAR RADIO.RADIO_STATION_NAME></th>
			    <th align="left" style="height: 25px; width: 888px;"><TMPL_VAR RADIO.RADIO_STATION_URL></th>
			  </tr class="radiodet">
			  <TMPL_VAR ROWSRADIO>
			</table>
			<a onClick="AddRadio();return false;" id="btnaddradio" data-role="button" data-inline="true" data-mini="true" data-icon="plus" href="#"><TMPL_VAR RADIO.BUTTON_ADD_STATION></a>
		</tr>
	
	<!-- End Radio-->
	
	
	<!-- Start Destination -->
	
		<tr class="destdet">
		<td colspan=3 valign="middle" style="height: 33px">
			<h3>&nbsp;</h3><hr />
			<h3><TMPL_VAR DESTINATION.HEADER></h3>
		</td>
	</tr>
	<tr class="destdet">
		<td colspan=3 valign="middle" style="height: 37px">
			<font size="-1"><TMPL_VAR DESTINATION.NOTE><a href="<TMPL_VAR DESTINATION.LINK_GOOGLE>"></a></font>
		</td>
	</tr>
		
		<tr class="destdet">
			<td style="height: 48px; width: 25%">
				<label id="lapikey"><TMPL_VAR DESTINATION.LABEL_GOOGLE_API></label>
			</td>
			<td style="width: 50%; height: 48px">
				<input id="googlekey" name="googlekey" type="text" class="textfield" value="<TMPL_VAR LOCATION.googlekey>">
			</td>
			<td style="height: 48px; width: 201px;" class="auto-style4">
				<font size="-1"><a id="linkgoogle" href="<TMPL_VAR DESTINATION.LINK_GOOGLE_DISTANCE>" target="_blank"><TMPL_VAR DESTINATION.LABEL_GOOGLE_DISTANCE></a></font>
			</td>
		</tr>
		
		
		<td class="destdet" style="width: 25%"><TMPL_VAR DESTINATION.LABEL_GOOGLE_REGION>
			<label style="font-size: x-small;" id="lexample"><TMPL_VAR DESTINATION.LABEL_GOOGLE_EXAMPLE></label>
		</td>	
			<td style="width: 10%">
				<table border=0 width="100%">
			<tr class="destdet">
				<td style="width: 41%">
					<input id="googletown" name="googletown" type="text" class="textfield" value="<TMPL_VAR LOCATION.googletown>" style="width: 215px">
				</td>
			<td>
				<table border=0 width="100%">
					<tr class="destdet">
						<td style="height: 30px; width: 24%; text-align: center;">
							<TMPL_VAR DESTINATION.LABEL_ADDRESS></td>
						<td style="height: 30px">
							<input id="googlestreet" name="googlestreet" type="text" class="textfield" value="<TMPL_VAR LOCATION.googlestreet>" style="width: 231px">
						</td>
						
					</tr>
				</table>
			</tr>
			<tr class="destdet">
				<td colspan=3 valign="middle" style="height: 33px">
					<h3></h3>
				</td>
			</tr>
	</table>
	
	<!-- End Destination-->

		
	<!-- Start Kalender-->
		
	<tr class="caldet">
		<td colspan=3 valign="middle" style="height: 33px">
			<hr/>
			<h3><a target="_blank"><TMPL_VAR CALENDAR.HEADER></a></h3>
		</td>
	</tr>
	<tr class="caldet">
		<td style="height: 48px; width: 25%">
			<label id="lwastecal"><TMPL_VAR CALENDAR.WASTE_LABEL></label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="wastecal" name="wastecal" type="text" class="textfield" value="<TMPL_VAR VARIOUS.CALDavMuell>">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
			<input name="val_t2s" id="val_t2s" class="textfield" value="<TMPL_VAR T2S_ENGINE>" type="hidden" style="width: 96px">
			<input name="lblang" id="lblang" class="textfield" value="<TMPL_VAR LBLANG>" type="hidden" style="width: 96px">
		</td>	
		<tr class="caldet">
		<td style="height: 48px; width: 25%">
			<label id="lcal"><TMPL_VAR CALENDAR.CALENDAR_LABEL></label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="cal" name="cal" type="text" class="textfield" value="<TMPL_VAR VARIOUS.CALDav2>">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
			<input name="val_voice" id="val_voice" type="hidden" class="textfield" value="<TMPL_VAR VOICE>" style="width: 93px">
			<input name="val_code" id="val_code" type="hidden" class="textfield" value="<TMPL_VAR CODE>" style="width: 93px">
		</td>
		<tr class="caldet">
			<td colspan=3 valign="middle" style="height: 33px">
				<h3></h3>
		</td>
		</tr>
	
	<!-- Ende Kalender-->
		
	<!-- Start Weather-->	
		<tr class="weatherdet">
			<td colspan=3 valign="middle" style="height: 33px">
				<hr/>
				<h3><TMPL_VAR WEATHER.HEADER_WEATHER></h3>
			</td>
		</tr>
		<tr class="weatherdet">
			<td colspan=3 style="height: 23px; width: 70%">
				<font size="-1"><TMPL_VAR WEATHER.NOTE_WEATHER></font>
			</td>
		</tr>
		<tr class="weatherdet">
		<td style="height: 56px"><TMPL_VAR WEATHER.REGION>
		</td>
		<td style="width: 50%; height: 56px;">
			<table border=0 width="100%">
				<tr class="weatherdet">
					<td width="20%" style="height: 30px">
						<select id="region" name="region" data-mini="true" style="width: 102px" >
							<option value="baw"><TMPL_VAR WEATHER.REGION1></option>
							<option value="bay"><TMPL_VAR WEATHER.REGION2></option>
							<option value="bbb"><TMPL_VAR WEATHER.REGION3></option>
							<option value="hes"><TMPL_VAR WEATHER.REGION4></option>
							<option value="mvp"><TMPL_VAR WEATHER.REGION5></option>
							<option value="nib"><TMPL_VAR WEATHER.REGION6></option>
							<option value="nrw"><TMPL_VAR WEATHER.REGION7></option>
							<option value="rps"><TMPL_VAR WEATHER.REGION8></option>
							<option value="sac"><TMPL_VAR WEATHER.REGION9></option>
							<option value="saa"><TMPL_VAR WEATHER.REGION10></option>
							<option value="shh"><TMPL_VAR WEATHER.REGION11></option>
							<option value="thu"><TMPL_VAR WEATHER.REGION12></option>
						</select>
						<script>$('#region').val('<TMPL_VAR LOCATION.region>');</script>
					</td>
				<td style="height: 30px">		
			<td width="50%" style="height: 30px; text-align: center;"><TMPL_VAR WEATHER.TOWN></td>
			<td style="height: 30px"><input id="town" name="town" type="text" class="textfield" value="<TMPL_VAR LOCATION.town>"></td>
		</tr>
	</table>
	<td valign="middle" style="height: 60px; width: 201px; font-size: smaller;">
		<a id="linkdwd" href="<TMPL_VAR WEATHER.LINK_WEATHER_SERVICE>" target="_blank"><TMPL_VAR WEATHER.LABEL_WEATHER_SERVICE></a><br>
		<a id="linkpollen" href="<TMPL_VAR WEATHER.LINK_ALLERGEN>" target="_blank"><TMPL_VAR WEATHER.LABEL_ALLERGEN></a>
	</td>
	<tr class="weatherdet">
		<td colspan=3 valign="middle" style="height: 33px">
			<h3></h3>
		</td>
	</tr>
</td>
<!-- Ende Weather-->	
		
		
<!-- Ende-->	
	
		</table>
			<td></td>
				<p>
					<center>
						<!--<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><TMPL_VAR SAVE.CANCEL_BUTTON></a>-->
						<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SAVE.SAVE_BUTTON></button>
				</center>
				</p>
	</div>


<!-- Donation -->
<div data-role='collapsible' id='coll_donate' data-content-theme='true' data-collapsed='true' data-collapsed-icon='carat-d' data-expanded-icon='carat-u' data-iconpos='right'>
	<h2 class='ui-bar ui-bar-a ui-corner-all' id='head_donate'><TMPL_VAR BASIS.DONATE_HEADER></h2>
	<TMPL_VAR donate>
	<div style="margin:auto;text-align:left;">
		<br>
		<label id="lexample"><TMPL_VAR BASIS.DONATE_TEXT></label>
	</div>
	<div style="margin:auto;text-align:left;">
	<br>
	<li><a href="https://www.ikea.com/de/de/news/symfonisk-regal-wifi-speaker-und-tischleuchte-mit-wifi-speaker-pub0f4bd579" target="_blank">Link zur Preview Seite</a> </li>
	</div>
	<div style="margin:auto;text-align:center;">
	<br>
	<a href="https://paypal.me/olewald" target="_blank"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" alt="Donate with PayPal.me" /></a>
	</div>
	<br>
	<div style="display:flex;justify-content:center;align-content:space-around;">
		<div style="padding: 10px 10px 10px 10px;">
			<fieldset data-role="controlgroup">
				<input type="checkbox" name="donate" id="donate" <TMPL_VAR DONATE>>
				<label for="donate"><TMPL_VAR BASIS.DONATE_DONE_REMOVE></label>
			</fieldset>
		</div>
		<div style="padding: 10px 10px 10px 10px;">
			<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true"><TMPL_VAR SAVE.SAVE_BUTTON></button>
		</div>
	</div>
	<!-- <button id="remove_donate" data-mini="true"><TMPL_VAR donate_done_remove></button> -->
</div>
<!-- Ende Donation -->
</form>
<!--</form>-->


<script>
	
//***************** Functions to be executed during loading the page **********************

$(document).on('pageinit', function() {

// Load saved languages/voice into fields
initial_lang_voice_load();	
	
// Disable some options on Load depending on selected value
disable();

selection();

// t2slayout();
callayout();
destlayout();
radlayout();
weatherlayout();
donation();
});


function t2slayout()  {
	if ( document.main_form.t2s_det.checked == true ) {
		$(".t2sdet").fadeIn(800);
		} else {
		$(".t2sdet").fadeOut(800);
	}		
}
function callayout()  {
	if ( document.main_form.cal_det.checked == true ) {
		$(".caldet").fadeIn(800);
	} else {
		$(".caldet").fadeOut(800);
	}
}
function destlayout()  {
	if ( document.main_form.dest_det.checked == true ) {
		$(".destdet").fadeIn(800);
	} else {
		$(".destdet").fadeOut(800);
	}
}
function radlayout()  {
	if ( document.main_form.radio_det.checked == true ) {
		$(".radiodet").fadeIn(800);
	} else {
		$(".radiodet").fadeOut(800);
	}
}
function weatherlayout()  {
	if ( document.main_form.weather_det.checked == true ) {
		$(".weatherdet").fadeIn(800);
	} else {
		$(".weatherdet").fadeOut(800);
	}
}

function donation()  {
	if(document.getElementById('donate').checked) {
			$("#coll_donate").hide();
	} else {
			$("#coll_donate").show();
	}
}



//**************************** Block for Layout control ************************************

// function to disable/enable some fields on click depending on selected value
function disable() {

  // T2S INSTANZ
  if ( document.main_form.tts_voicerss.checked == true ) {
    	$('#voice').addClass('ui-disabled');
		$('#t2slang').removeClass('ui-disabled');
		$('#linkvoicerss').removeClass('ui-disabled');
		$('#linkpolly').addClass('ui-disabled');
		//$(".t2sdet").fadeToggle(600);
		$('.field-voice').fadeOut(600);
		$('.colapi').fadeIn(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeIn(600);
		$('.googleinfo').fadeOut(600);
		validate_enable('#apikey');
		validate_chk_object(['#apikey']);
		
  }
  if ( document.main_form.tts_mac_osx.checked == true ) {
     	$('#voice').addClass('ui-disabled');
        $('#t2slang').removeClass('ui-disabled');
        $('.field-voice').fadeOut(600);
		$('.colapi').fadeOut(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeOut(600);
		$('.googleinfo').fadeOut(600);
  }
  if ( document.main_form.tts_pico.checked == true ) {
        $('#voice').addClass('ui-disabled');
        $('#t2slang').removeClass('ui-disabled');
        $('.field-voice').fadeOut(600);
        $('.colapi').fadeOut(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeOut(600);
		$('.googleinfo').fadeOut(600);
  }
  if ( document.main_form.tts_respvoice.checked == true ) {
        $('#voice').addClass('ui-disabled');
        $('#t2slang').removeClass('ui-disabled');
        $('.field-voice').fadeOut(600);
        $('.colapi').fadeOut(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeOut(600);
		$('.googleinfo').fadeOut(600);
  }
  if ( document.main_form.tts_polly.checked == true ) {
    	$('#voice').removeClass('ui-disabled');
		$('#t2slang').removeClass('ui-disabled');
		$('#linkvoicerss').addClass('ui-disabled');
		$('#linkpolly').removeClass('ui-disabled');
		$('.field-voice').fadeIn(600);
		$('.colapi').fadeIn(600);
		$('.colsec').fadeIn(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeIn(600);
		$('.googleinfo').fadeOut(600);
		$('#voice').selectmenu('refresh', true);  
		validate_enable('#apikey');
		validate_enable('#seckey');
		validate_chk_object(['#seckey', '#apikey']);

 }
 if ( document.main_form.tts_google.checked == true ) {
		$('#voice').addClass('ui-disabled');
        $('#t2slang').removeClass('ui-disabled');
        $('.field-voice').fadeOut(600);
        $('.colapi').fadeOut(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeOut(600);
		$('.googleinfo').fadeIn(600);
  }
}

// make Miniserver/UDP Port mandatory in case flipswitch value is true
function selection() {    
var cat = document.getElementById('sendlox').value;    
    if (cat == "true") {
		//$('#miniserver').removeClass('ui-disabled'); 
		$('#udpport').removeClass('ui-disabled'); 
		$('.field_ms').fadeIn(600);
		$('.field_udp').fadeIn(600);
		$('.field_lab_udp').fadeIn(600);
		$('.label_template').fadeIn(600);
		$('.template').fadeIn(600);
		$('.empty_template').fadeIn(600);

	} else {
		//$('#miniserver').addClass('ui-disabled');
		$('#udpport').addClass('ui-disabled');
		$('.field_ms').fadeOut(600);
		$('.field_udp').fadeOut(600);
		$('.field_lab_udp').fadeOut(600);
		$('.label_template').fadeOut(600);
		$('.template').fadeOut(600);
		$('.empty_template').fadeOut(600);


    }
$("#sendlox").flipswitch("refresh"); 
$('#miniserver').selectmenu('refresh', true);
}


//*************************End Block for Layout control ************************************


// Function to add new radiostations to config
function AddRadio() {

  // Total number of Radios
  var iteration = document.getElementById('countradios').value;
  iteration = parseInt(iteration)

  var tbl = document.getElementById('tblBasic2');

  // Del 1. row if there where no radios
  if ( iteration < 1 ) {
    var row = tbl.deleteRow(-1);
  }

  var lastRow = tbl.rows.length;
  iteration += 1;
  document.getElementById("countradios").value = iteration;

  // Add cells
  var row = tbl.insertRow(lastRow);
  var cellRight = row.insertCell(0);
  cellRight.innerHTML = '<tr><td style="height: 25px; width: 43px; text-align: center;"><INPUT type="checkbox" style="width: 20px" name="chkradios' + iteration + '" id="chkradios' + iteration + '" align="center"/></td>'
  var cellRight = row.insertCell(1);
  cellRight.innerHTML = '<td style="height: 28px"><input type="text" id="radioname' + iteration + '" name="radioname' + iteration + '" size="20" value="" /> </td>'
  var cellRight = row.insertCell(2);
  cellRight.innerHTML = '<td style="width: 888px; height: 28px"><input type="text" id="radiourl' + iteration + '" name="radiourl' + iteration + '" size="100" value="" style="width: 862px" /> </td></tr>'
  // Recreate JQUERY styles
  $("#main_form").trigger('create');

}



//******************************* Scan for Players *****************************************
function Scan() {

  url = './index.cgi?do=scan';
  document.location.href = url;

}



//************************ Prepare the voicename to pass to CGI *****************************
function filtervoice() {  

	if (document.main_form.tts_polly.checked == true ) {
		var selectvoice = document.getElementById("voice");
		var selectedvoice = selectvoice.options[selectvoice.selectedIndex].text;
		return selectedvoice;
		$('select').selectmenu('refresh', true);  
	}
}



//************************ Prepare screen during initial load*** *****************************
function initial_lang_voice_load()  {
	// if screen is initial, no T2S engine selected
	if (!$('#val_t2s').val()) {
		$('#t2slang').empty();
	 	$('#voice').addClass('ui-disabled');
		$('#t2slang').addClass('ui-disabled');
	} else {
		$('#voice').addClass('ui-disabled');
		$('#t2slang').removeClass('ui-disabled');
		$('#t2slang').append('<option value=""><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
		// if T2S engine polly (4001) has been selected pass saved voice to field
		if ($('#val_t2s').val() == '4001')  {
			var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/polly.json";
			var urlvoice = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/polly_voices.json";
			$('.field-voice').fadeIn(1);
			$('#t2slang').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
			$.getJSON(url, function(listlang)  {
               	$.each(listlang, function(index, value)  { 
               	//alert(value.value);
               		if (value.value == '<TMPL_VAR CODE>') {
	               		$('#t2slang').append('<option selected="selected" value="'+value.value+'">'+value.country+'</option>');
	               		$('#t2s_lang_country').val('+value.country+');
	               	} else {
	               		$('#t2slang').append('<option value="'+value.value+'">'+value.country+'</option>');
	               	}
	               	$('#voice').removeClass('ui-disabled');
	               	$('#t2slang').selectmenu('refresh', true);
             	});
            //});
            var selectlang = document.getElementById("t2slang");
			var selectedlang = selectlang.options[selectlang.selectedIndex].value;
		    $('#voice').removeClass('ui-disabled');
            $.getJSON(urlvoice, function(listvoice)  {
			//$('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
		    var selectedvoiceList = listvoice.filter(function(item){
		    	return item.language === selectedlang;
		  	});
		  	$.each(selectedvoiceList, function(index, value) {
			    if (value.name == '<TMPL_VAR VOICE>') {
	               	$('#voice').append('<option selected="selected" value="'+value.name+'">'+value.name+'</option>');
	            } else {
	            	$('#voice').append('<option value="'+value.name+'">'+value.name+'</option>');
	            }
	            $('#voice').selectmenu('refresh', true);
		    });
			});
		});
				$('#voice').removeClass('ui-disabled');
		// end of polly
		} else {
			$('#voice').empty();
			$('#voice').addClass('ui-disabled');
		}
	}
	$('#voice').addClass('ui-disabled');
	$('#t2slang').removeClass('ui-disabled');
	if ($('#val_t2s').val() == '1001')  {
		$('.field-voice').fadeOut(600);
        var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/voicerss.json";
	}
	else if($('#val_t2s').val() == '3001')   {
		$('.field-voice').fadeOut(600);
        var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/osx.json";
    }
    else if($('#val_t2s').val() == '5001')   {
    	$('.field-voice').fadeOut(600);
        var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/pico.json";	
    }
    else if($('#val_t2s').val() == '6001')   {
    	$('.field-voice').fadeOut(600);
        var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/respvoice.json";	
    }
    else if($('#val_t2s').val() == '7001')   {
	    $('.field-voice').fadeOut(600);
        var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/google.json";
    }
	else 
	{
	    $('.field-voice').fadeOut(600);
		$('.colapi').fadeOut(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeOut(600);
		$('.colmp3').fadeOut(600);
		$('.googleinfo').fadeOut(600);

 
    }
    $('#t2slang').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
	$.getJSON(url, function(listlang)  {
    $.each(listlang, function(index, value)  { 
    //alert(value.value);
    if (value.value == '<TMPL_VAR CODE>') {
		$('#t2slang').append('<option selected="selected" value="'+value.value+'">'+value.country+'</option>');
		$('#t2s_lang_country').val('+value.country+');
	} else {
		$('#t2lang').append('<option value="'+value.value+'">'+value.country+'</option>');
	}
	$('#voice').removeClass('ui-disabled');
	$('#t2slang').selectmenu('refresh', true);
    });
});
    
    
    
 	// prepare voice list for Polly   
    $('#t2slang').empty();
          $('#voice').empty();
          //$('#t2slang').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
          //$('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
          $('#t2slang').prop('selectedIndex', 0);
          $.getJSON(url, function(listlang)  {
               	$.each(listlang, function(index, value)  { 
               		if (value.value == '<!--$code-->') {
	               		$('#t2slang').append('<option selected="selected" value="'+value.value+'">'+value.country+'</option>');
	               		$('#t2s_lang_country').val('+value.country+');
	               	} else {
	               		$('#t2slang').append('<option value="'+value.value+'">'+value.country+'</option>');
	               	}
	               	$('select').selectmenu('refresh', true);
             	});
            });
          $('select').selectmenu();
          $('select').selectmenu('refresh', true);
	$('#t2slang').selectmenu('refresh', true);
	$('#voice').selectmenu('refresh', true);

};


//************************ Prepare Document ready layout ********************************

// function to populate dropdown from JSON files based on selected T2S Provider
 $(document).ready( function() {
 	
	  // load JSON files into dropdwon field language
      $("input[name='t2s_engine']").on('click',function() {
          if($(this).is(':checked') && $(this).val() == '1001')  {
            var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/voicerss.json";
          }
          else if($(this).is(':checked') && $(this).val() == '3001')   {
            var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/osx.json";
          }
		  else if($(this).is(':checked') && $(this).val() == '4001')   {
            var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/polly.json";	     
          }
		  else if($(this).is(':checked') && $(this).val() == '5001')   {
            var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/pico.json";	                 
		  }
		  else if($(this).is(':checked') && $(this).val() == '6001')   {
			var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/respvoice.json";	                             
          }
		  else if($(this).is(':checked') && $(this).val() == '7001')   {
			var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/google.json";	                                         
          }
          else  {
         	
          }
          $('#t2slang').empty();
          $('#voice').empty();
          $('#t2slang').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
          //$('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
          $('#t2slang').prop('selectedIndex', 0);
          $.getJSON(url, function(listlang)  {
               	$.each(listlang, function(index, value)  { 
               		if (value.value == '<TMPL_VAR CODE>') {
	               		$('#t2slang').append('<option selected="selected" value="'+value.value+'">'+value.country+'</option>');
	               		$('#t2s_lang_country').val('+value.country+');
	               	} else {
	               		$('#t2slang').append('<option value="'+value.value+'">'+value.country+'</option>');
	               	}
	               	$('select').selectmenu('refresh', true);
             	});
            });
          $('select').selectmenu();
          $('select').selectmenu('refresh', true);
    });
    // pass ISO code of selected language to field for info
    var isocode = '<TMPL_VAR CODE>'.substr(0, 2);
	$('#langiso').val(isocode);
	$("#langiso").textinput("refresh");
	
	



	// Function to control saving, main_form is submitted    
	$("form#main_form").submit(function() {
		var selectlang = document.getElementById("t2slang").value;
		if (document.main_form.tts_polly.checked == true ) {
			var selectvoice = document.getElementById("voice").value;
			if (selectlang == '')  {
				alert('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#infotext").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				return false;
			}
			if (selectvoice == '')  {
				alert('<TMPL_VAR T2S.VALIDATE_VOICE>');
				$('html, body').animate({
			        scrollTop: $("#infotext").offset().top
			    }, 2000);
			    $("#voice").focus();
				return false;
			}
		}
		else if (document.main_form.tts_mac_osx.checked == true ) {
			if (selectlang == '')  {
				alert('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#infotext").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				return false;
			}
		}
		else if (document.main_form.tts_voicerss.checked == true ) {
			if (selectlang == '')  {  
				alert('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#infotext").offset().top
			    }, 2000);
			    $("#t2slang").focus();
      			return false;
			}
		}
		else if (document.main_form.tts_pico.checked == true ) {
			if (selectlang == '')  {  
				alert('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#infotext").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				return false;
			}
		}
		else if (document.main_form.tts_respvoice.checked == true ) {
			if (selectlang == '')  { 
				alert('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#infotext").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				return false;
			}
		}
		else if (document.main_form.tts_google.checked == true ) {
			if (selectlang == '')  {  
				alert('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#infotext").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				return false;
			}
		}
		else 
		{
			return true;
		}
		$("#langiso").textinput("refresh");
		
		
		
		// validate jingle file selection
		var selectjingle 	= document.getElementById("file_gong").value;
		var selectt2s 		= $("input[name=t2s_engine]:checked").val();
		if ((selectjingle == '') && (selectt2s != ''))  {
			alert('<TMPL_VAR T2S.VALIDATE_JINGLE>');
			$('html, body').animate({
		        scrollTop: $("#infotext").offset().top
		    }, 2000);
		    $("#file_gong").focus();
			return false;
		}
		
	});

		
	// prepare the voice list dependend on language list
	filterlang = function() { 
	if (document.main_form.tts_polly.checked == true ) {
  		
		var select = document.getElementById("t2slang");
		var selectedlanguage = select.options[select.selectedIndex].value;
	    $('#voice').empty();
	    var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/polly_voices.json";
	    $.getJSON(url, function(listvoice)  {
			$('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
		    var selectedvoiceList = listvoice.filter(function(item){
		    	return item.language === selectedlanguage;
		  	});
		    $.each(selectedvoiceList, function(index, value) {
			    if (value.name == '<TMPL_VAR VOICE>') {
	               	$('#voice').append('<option selected="selected" value="'+value.name+'">'+value.name+'</option>');
	            } else {
	            	$('#voice').append('<option value="'+value.name+'">'+value.name+'</option>');
	            }
	            $('#voice').selectmenu('refresh', true);
		    });
		});
	    return selectedlanguage;
	    $('#voice').selectmenu('refresh', true);  
   	}
	else {
		$('#voice').empty();    	
	}
	// generate language ISO Code
	var isocode = '<TMPL_VAR CODE>'.substr(0, 2);
	$('#langiso').val(isocode);
	$("#langiso").textinput("refresh");
}

	
		

//************************ Form validation ********************************

// validate UDP Port
var slox = document.getElementById('sendlox').value;   
if (slox == "true") {
		validate_enable('#udpport');
		validate_chk_object(['#udpport']);
	}
	else 
	{
		validate_enable('#udpport');
		//validate_clean_objects(['#udpport']);
	}
	
	
// validate Volume entries per player
var iteration = document.getElementById('countplayers').value;
iteration = parseInt(iteration)
iteration += 1;
	for (i = 1; i < iteration; ++i) {
		validate_enable('#t2svol' + i + '');
  		validate_enable('#sonosvol' + i + '');
  		validate_enable('#maxvol' + i + '');
  		validate_chk_object(['#t2svol' + i + '', '#sonosvol' + i + '', '#maxvol' + i + '']);
	}
//	
	
 
}); 
</script>
</TMPL_IF>


<TMPL_IF LOGFILES>
<!-- form 'LOGFILES' START -->
	<TMPL_VAR LOGLIST_HTML>
<!-- form 'LOGFILES' END -->
</TMPL_IF LOGFILES>


<TMPL_IF SAVE>
<center>
	<table border=0>
	<tr>
		<td align="center">
		<h2><TMPL_VAR SAVE.SAVE_ALL_OK></h2>
		<p>
		<TMPL_VAR SAVE.SAVE_MESSAGE>
		</p>
		</td>
	</tr>
	<tr>
		<td align="center">
		<p>
		<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="./index.cgi?do=<TMPL_VAR FORMNO>"><TMPL_VAR SAVE.SAVE_BUTTON_OK></a>
		</p>
		</td>
	</tr>
	</table>
</center>
</TMPL_IF>


<TMPL_IF ERROR>
<center>
	<table border=0>
	<tr>
		<td align="center">
		<h2><FONT COLOR="#FF0000"><TMPL_VAR ERRORS.ERR_TITLE></FONT></h2>
		<p>
		<TMPL_VAR ERR_MESSAGE>
		</p>
		</td>
	</tr>
	<tr>
		<td align="center">
		<p>
		<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="./index.cgi?do=<TMPL_VAR FORMNO>"><TMPL_VAR ERRORS.ERR_BUTTON_BACK></a>
		</p>
		</td>
	</tr>
	</table>
</center>
</TMPL_IF>


<TMPL_IF NOTICE>
<center>
		<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi?do=form">
		<table width="100%" border=0>
			<tr>
				<td align="center">
					<h2><FONT COLOR="#FF0000"><TMPL_VAR ZONES.SONOS_SCAN_HEADER></FONT></h2>
					<p>
						<TMPL_IF NAME="BOOL">
							<TMPL_VAR ZONES.SONOS_SSDP_DISABLED>
						<TMPL_ELSE>
							<TMPL_VAR ZONES.SONOS_SCAN_TEXT>
						</TMPL_IF>
						<br>
						<br>
					</p>
				</td>
			</tr>
			<tr>
				<td align="center">
					<p>
						<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" onclick="location.href='./index.cgi'"><TMPL_VAR ZONES.BUTTON_BACK></a>
						<a id="btok" data-role="button" data-inline="true" data-mini="true" data-icon="check" onclick="Scanning()"><TMPL_VAR ZONES.BUTTON_NEXT></a>
					</p>
				</td>
			</tr>
		</table>
	</form>
</center>
<script>
	
function Scanning() {
	url = './index.cgi?do=scanning';
	document.location.href = url;
}
	
</script>
</TMPL_IF>


<TMPL_IF DETAILS>
<!-- form 'FORM' DETAILS -->
<form method="post" data-ajax="false" accept-charset="utf-8" name="main_form" id="main_form" action="./index.cgi?do=details">
	<input type="hidden" name="saveformdata2" value="1">
		<div class="form-group">
			<table class="formtable" border="0" width="100%" cellpadding="10">
			<tr>
						<td valign="middle" style="height: 33px; width: 25%; text-align: center;">
							<h2 class="auto-style3" style="width: 100%"><TMPL_VAR ZONES.SONOS_OPTIONS></h2>
						<td style="height: 33px; text-align: center; width: 800px;">
							<img class='ico_sonos' src='/plugins/<TMPL_VAR PLUGINDIR>/images/sonos_logo.png' border='0' width='186' height='125' align="absmiddle">
						</td>
						<td style="height: 33px; width: 201px;"></td>
			</tr>

			<tr>
				<td style="height: 60px; width: 25%;">
					<!--<a id="lcheckonline" <TMPL_VAR T2S.ONLINECHECK_LINK> target="_blank"><TMPL_VAR T2S.ONLINECHECK></a>-->
					<label id="lcheckonline"><TMPL_VAR T2S.ONLINECHECK></label>
				</td>
				<td style="height: 60px; width: 800px;">
					<table border=0 width="100%">
						<tr>
							<td style="width: 25%">
								<fieldset>
									<!--<select onchange="cronjob()" id="checkonline" name="checkonline" data-role="flipswitch" style="width: 104px">-->
									<select id="checkonline" name="checkonline" disabled=disabled data-role="flipswitch" style="width: 104px">
										<option value="false"><TMPL_VAR T2S.LABEL_FLIPSWITCH_OFF></option>
										<option selected="selected" value="true"><TMPL_VAR T2S.LABEL_FLIPSWITCH_ON></option>
									</select>
								</fieldset>
								<script>
								$('#checkonline').val('<TMPL_VAR SYSTEM.checkonline>')
								</script>	
							</td>
							<td style="width: 23px; text-align: center;">	
								&nbsp;</td>
							<td>
							<table class="cronjob" border=0 style="width: 91%">
								<tr>
									<td style="width: 50%; height: 60px;">
										<label align="right" id="lcron"><TMPL_VAR T2S_DETAILS.LABLE_CRON>&nbsp;&nbsp;&nbsp;</label>
									</td>
									<td style="width: 19%">
										<select id="cron" name="cron" data-mini="true" data-native-menu="false" style="width: 62%">
											<option value="1">1 Min</option>
											<option value="5">5 Min</option>
											<option value="10">10 Min</option>
											<option value="15">15 Min</option>
											<option value="30">30 Min</option>
											<option value="60">60 Min</option>
										</select>
										<script>
											$('#cron').val('<TMPL_VAR VARIOUS.cron>');
										</script>
									</td>
								</tr>
							</table>
							</td>
						</tr>
				</table>
			</td>
			<!--<td style="height: 30px; width: 201px;"></td>
			<td style="height: 30px; width: 24px;">
				<font size="-1">
					<div id="testurl"></div>
				</font>
			</td>-->
		</tr>
		<tr>
				<td style="height: 60px; width: 25%;">
						<label id="lvolume"><TMPL_VAR T2S_DETAILS.LABEL_T2S_VOLUME_CHANGE></label>
				</td>
				<td style="width: 19%">
						<select id="volume" name="volume" data-mini="true" data-native-menu="false" style="width: 62%">
							<option value="3">3 %</option>
							<option value="5">5 %</option>
							<option value="7">7 %</option>
							<option value="10">10 %</option>
						</select>
						<script>
							$('#volume').val('<TMPL_VAR MP3.volumedown>');
						</script>
					</td>
					<td style="height: 30px; width: 201px;"></td>
					<td style="height: 30px; width: 24px;">

				</tr>
		<td style="width: 27%">
			<TMPL_VAR RADIO.LABEL_RADIO_ANNOUNCE>
		</td>
		<td style="width: 800px">
			<fieldset style="width: 788px">
				<select onchange="select()" id="announceradio" name="announceradio" data-role="flipswitch">
					<option value="0"><TMPL_VAR T2S.LABEL_FLIPSWITCH_OFF></option>
					<option value="1"><TMPL_VAR T2S.LABEL_FLIPSWITCH_ON></option>
				</select>&nbsp;&nbsp; 
				<script>$('#announceradio').val('<TMPL_VAR VARIOUS.announceradio>')</script>
				<span class="auto-style4"><TMPL_VAR RADIO.NOTE_RADIO_ANNOUNCE></span>
			</fieldset>
			<input id="maxzap" name="maxzap" type="hidden" class="textfield" value="<TMPL_VAR MAXZAP>">
		</td>
		<tr>
				<td style="width: 27%">
						<TMPL_VAR RADIO.LABEL_RADIO_ANNOUNCE_ALWAYS>
					</td>
			<td style="width: 800px">
				<fieldset style="width: 788px">
					<select onchange="select_always()" id="announceradio_always" name="announceradio_always" data-role="flipswitch">
						<option value="0"><TMPL_VAR T2S.LABEL_FLIPSWITCH_OFF></option>
						<option value="1"><TMPL_VAR T2S.LABEL_FLIPSWITCH_ON></option>
					</select>&nbsp;&nbsp; 
					<script>$('#announceradio_always').val('<TMPL_VAR VARIOUS.announceradio_always>')</script>
					<span class="auto-style4"><TMPL_VAR RADIO.NOTE_RADIO_ANNOUNCE_ALWAYS></span>
				</fieldset>
			</td>

		</tr>
		<tr class="radioannounce">
			<td style="height: 60px; width: 25%;">
				<label id="lcorrection"><TMPL_VAR T2S.LABEL_CORRECTION></label>
			</td>
			<td style="height: 60px; width: 800px;">
				<input type="range" name="correction" id="correction" value="<TMPL_VAR TTS.correction>" min="0" max="20" step="2">
			</td>
			<td style="height: 30px; width: 201px;"></td>
			<td style="height: 30px; width: 201px;"></td>
		</tr>
		
		<tr class="t2sdet">
		<td style="width: 25%; height: 40px;">
			<label id="lrampto"><TMPL_VAR T2S_DETAILS.LABEL_RAMPTO></label>
		</td>
		<td style="width: 50%; height: 60px;">
			<table border=0 width="100%">
					<td style="width: 60%; height: 45px;">
						<fieldset data-role="controlgroup" data-type="horizontal">
							<input onclick="disable()" type="radio" name="rampto" id="rmpsleep" value="sleep">
							<label for="rmpsleep">Sleep</label>
							<input onclick="disable()" type="radio" name="rampto" id="rmpalarm" value="alarm">
				 			<label for="rmpalarm">Alarm</label>
							<input onclick="disable()" type="radio" name="rampto" id="rmpauto" value="auto">
				 			<label for="rmpauto">Auto</label>
						</fieldset>
					<script>$("input[name=rampto]").val(['<TMPL_VAR TTS.rampto>']);</script>
					</td>
					<td style="width: 40%; height: 45px">
						<table border=0 align="left" style="width: 99%">
							<tr>
								<td style="height: 30px; width: 70%; text-align: center;">
								<label id="lrmpvol"><TMPL_VAR T2S_DETAILS.LABEL_RAMPTO_VOLUME></label>
								</td>
								<td style="text-align: right;">
									<input id="rmpvol" name="rmpvol" type="text" data-validation="number" class="textfield" value="<TMPL_VAR TTS.volrampto>"
									data-validation-allowing="special:number-min-max-value:1:100"
									data-validation-error-msg="* Rampto Volume: Bitte nur Zahlen von 1 bis 100 eingeben.">
								</td>
							</tr>
						</table>
					</td>
			</table>
		<td valign="middle" style="height: 60px; width: 201px;"></td>
		</tr>

		<tr>
			<td style="height: 60px; width: 25%;">
				<label id="lphonemute"><TMPL_VAR T2S.LABEL_PHONEMUTE></label>
			</td>
			<td style="height: 60px; width: 800px;">
				<input type="range" name="phonemute" id="phonemute" value="<TMPL_VAR TTS.phonemute>" min="0" max="16" step="2">
			</td>
			<td style="height: 30px; width: 201px;"></td>
			<td style="height: 30px; width: 201px;"></td>
		</tr>

		<tr>
			<td style="width: 27%">
				<TMPL_VAR T2S_DETAILS.LABEL_PHONESTOP>
			</td>
				<td style="width: 800px">
					<fieldset style="width: 788px">
						<select id="phonestop" name="phonestop" data-role="flipswitch">
							<option value="0"><TMPL_VAR T2S.LABEL_FLIPSWITCH_OFF></option>
							<option value="1"><TMPL_VAR T2S.LABEL_FLIPSWITCH_ON></option>
						</select> 
						<script>
							$('#phonestop').val('<TMPL_VAR VARIOUS.phonestop>')
						</script>
					</fieldset>
				</td>
		</tr>

		<tr>
			<td style="height: 60px; width: 25%;">
				<label id="lwaiting"><TMPL_VAR T2S.LABEL_WAITING></label>
			</td>
			<td style="height: 60px; width: 800px;">
				<input type="range" name="waiting" id="waiting" value="<TMPL_VAR TTS.waiting>" min="0" max="10" step="1">
			</td>
			<!--Start *** HIDDEN Workaround Felder um 3 Felder zu escapen -->
			<td style="height: 30px; width: 201px;">
				<input id="wastecal" name="wastecal" type="hidden" class="textfield" value="<TMPL_VAR VARIOUS.CALDavMuell>">
			</td>
			<td style="height: 30px; width: 201px;">
				<input id="cal" name="cal" type="hidden" class="textfield" value="<TMPL_VAR VARIOUS.CALDav2>">
			</td>
			<td style="height: 30px; width: 201px;"></td>
				<input id="town" name="town" type="hidden" class="textfield" value="<TMPL_VAR LOCATION.town>" style="display:none">
				<table id="divCheckbox" style="display:none">	
					<TMPL_VAR ROWSRADIO>
					</table>
			</td>
			<!--Ende *** HIDDEN Workaround Felder um 3 Felder zu escapen -->
		</tr>

</table>
			<td></td>
				<p>
					<center>
						<!--<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><TMPL_VAR SAVE.CANCEL_BUTTON></a>-->
						<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SAVE.SAVE_BUTTON></button>
					</center>
				</p>

				<script>
				$(document).on('pageinit', function() {
					select();
					//select_always();
					cronjob();
					
				});
				function select() {  
						var rad = document.getElementById('announceradio').value;  
						var rad1 = document.getElementById('announceradio_always').value;  
						if (rad == true || rad1 == true) {
								$('.radioannounce').fadeIn(600);
						} else {
								$('.radioannounce').fadeOut(600);
						}
					}
					function select_always() {  
						var rad1 = document.getElementById('announceradio_always').value;  
						if (rad1 == true) {
								$('.radioannounce').fadeIn(600);
						} else {
								$('.radioannounce').fadeOut(600);
						}
					}
				function cronjob() {  
						var cro = document.getElementById('checkonline').value;  
						if (cro === "true") {
								$('.cronjob').fadeIn(600);
						} else {
								$('.cronjob').fadeOut(600);
						}
					}
				</script>
		</div>
</form>
</TMPL_IF>





