	<!-- ** START template/system/success.html 22:20 21.11.2017 ************************************************************************************ -->
	<center>
		<table width="100%" border=0>
			<tr>
				<td align="center">
					<h2><TMPL_VAR SAVE_ALL_OK></h2>
					<p>
						<TMPL_VAR SAVE_MESSAGE>
						<br>
						<br>
					</p>
				</td>
			</tr>
			<tr>
				<td align="center">
					<p>
						<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" onclick="location.href='<TMPL_VAR SAVE_NEXTURL>'"><TMPL_VAR SAVE_BUTTON_OK></a>
					</p>
				</td>
			</tr>
		</table>
	</center>
	<!-- ** END template/system/success.html ************************************************************************************ -->
